{% extends "layout.html" %}

{% block pageTitle %}
  Find data
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Find data</h1>
      <p class="govuk-body-l">Find data published by central government, local authorities and public bodies to help you build products and services.</p>

      <form action="search-results" method="post" novalidate>
          <div class="govuk-form-group">
            <input class="govuk-input" id="search-data" name="search-data" placeholder="Search data.gov.uk" type="text">
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Search
          </button>
        </form>
  </div>

  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <ul class="govuk-list dgu-topics__list">
      <li>
        <h3 class="govuk-heading-s dgu-topics__heading govuk-!-margin-bottom-0"><a class="govuk-link" href="/search?filters%5Btopic%5D=Business+and+economy">Business and economy</a></h3>
        <p class="govuk-body">Small businesses, industry, imports, exports and trade</p>
      </li>
      <li>
        <h3 class="govuk-heading-s dgu-topics__heading govuk-!-margin-bottom-0"><a class="govuk-link" href="/search?filters%5Btopic%5D=Crime+and+justice">Crime and justice</a></h3>
        <p class="govuk-body">Courts, police, prison, offenders, borders and immigration</p>
      </li>
      <li>
        <h3 class="govuk-heading-s dgu-topics__heading govuk-!-margin-bottom-0"><a class="govuk-link" href="/search?filters%5Btopic%5D=Defence">Defence</a></h3>
        <p class="govuk-body">Armed forces, health and safety, search and rescue</p>
      </li>
      <li>
        <h3 class="govuk-heading-s dgu-topics__heading govuk-!-margin-bottom-0"><a class="govuk-link" href="/search?filters%5Btopic%5D=Education">Education</a></h3>
        <p class="govuk-body">Students, training, qualifications and the National Curriculum</p>
      </li>
      <li>
        <h3 class="govuk-heading-s dgu-topics__heading govuk-!-margin-bottom-0"><a class="govuk-link" href="/search?filters%5Btopic%5D=Environment">Environment</a></h3>
        <p class="govuk-body">Weather, flooding, rivers, air quality, geology and agriculture</p>
      </li>
    </ul>
    </div>

    <div class="govuk-grid-column-one-third">
      <ul class="govuk-list dgu-topics__list">
            <li>
              <h3 class="govuk-heading-s dgu-topics__heading govuk-!-margin-bottom-0"><a class="govuk-link" href="/search?filters%5Btopic%5D=Government">Government</a></h3>
              <p class="govuk-body">Staff numbers and pay, local councillors and department business plans</p>
            </li>
            <li>
              <h3 class="govuk-heading-s dgu-topics__heading govuk-!-margin-bottom-0"><a class="govuk-link" href="/search?filters%5Btopic%5D=Government+spending">Government spending</a></h3>
              <p class="govuk-body">Includes all payments by government departments over £25,000</p>
            </li>
            <li>
              <h3 class="govuk-heading-s dgu-topics__heading govuk-!-margin-bottom-0"><a class="govuk-link" href="/search?filters%5Btopic%5D=Health">Health</a></h3>
              <p class="govuk-body">Includes smoking, drugs, alcohol, medicine performance and hospitals</p>
            </li>
            <li>
              <h3 class="govuk-heading-s dgu-topics__heading govuk-!-margin-bottom-0"><a class="govuk-link" href="/search?filters%5Btopic%5D=Mapping">Mapping</a></h3>
              <p class="govuk-body">Addresses, boundaries, land ownership, aerial photographs, seabed and land terrain</p>
            </li>
          </ul>
    </div>

    <div class="govuk-grid-column-one-third">
      <ul class="govuk-list dgu-topics__list">
        <li>
          <h3 class="govuk-heading-s dgu-topics__heading govuk-!-margin-bottom-0"><a class="govuk-link" href="/search?filters%5Btopic%5D=Society">Society</a></h3>
          <p class="govuk-body">Employment, benefits, household finances, poverty and population</p>
        </li>
      <li>
        <h3 class="govuk-heading-s dgu-topics__heading govuk-!-margin-bottom-0"><a class="govuk-link" href="/search?filters%5Btopic%5D=Towns+and+cities">Towns and cities</a></h3>
        <p class="govuk-body">Includes housing, urban planning, leisure, waste and energy, consumption</p>
      </li>
      <li>
        <h3 class="govuk-heading-s dgu-topics__heading govuk-!-margin-bottom-0"><a class="govuk-link" href="/search?filters%5Btopic%5D=Transport">Transport</a></h3>
        <p class="govuk-body">Airports, roads, freight, electric vehicles, parking, buses and footpaths</p>
      </li>
      <li>
        <h3 class="govuk-heading-s dgu-topics__heading govuk-!-margin-bottom-0"><a class="govuk-link" href="/search?filters%5Btopic%5D=Digital+service+performance">Digital service performance</a></h3>
        <p class="govuk-body">Cost, usage, completion rate, digital take-up, satisfaction</p>
      </li>
      <li>
        <h3 class="govuk-heading-s dgu-topics__heading govuk-!-margin-bottom-0"><a class="govuk-link" href="/search?filters%5Btopic%5D=Government+reference+data">Government reference data</a></h3>
        <p class="govuk-body">Trusted data that is referenced and shared across government departments</p>
      </li>
    </ul>
    </div>

  </div>
{% endblock %}
